/* src/components/MemeCreator.css */

.meme-creator {
  text-align: center;
}

.meme-creator input {
  padding: 10px;
  font-size: 16px;
  margin: 10px 0;
  border: 1px solid #ccc;
  border-radius: 5px;
  width: calc(100% - 22px);
}

.font-size-controls {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 20px;
}

.font-size-controls button {
  padding: 5px 10px;
  font-size: 18px;
  border: none;
  background-color: #007bff;
  color: white;
  border-radius: 5px;
  cursor: pointer;
  margin: 0 10px;
}

.font-size-controls button:hover {
  background-color: #0056b3;
}

.meme-image {
  position: relative;
  display: inline-block;
}

.meme-image img {
  max-width: 100%;
  border-radius: 10px;
  margin-top: 20px;
}

.meme-text {
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  color: white;
  font-weight: bold;
  text-shadow: 2px 2px 5px #000;
  text-align: center;
  width: 90%;
}

.meme-text.top {
  top: 10px;
}

.meme-text.bottom {
  bottom: 10px;
}
