/* src/components/MemeUpload.css */

.meme-upload {
    border: 2px dashed #007bff;
    padding: 20px;
    text-align: center;
    color: #007bff;
    border-radius: 10px;
    margin-bottom: 20px;
    cursor: pointer;
  }
  
  .meme-upload p {
    margin: 0;
  }
  